<div class="container">
    <div class="row">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h1 class="panel-title">Set a user alias</h1>
            </div>
            <div class="panel-body" id="metadata" style="display: block;">
            <form action="/changealias" method="POST">
              Enter your preferred user alias below.  PLEASE NOTE: You'll still 
              need to log in using the big ugly UUID!<br/>
              <input type='text' name='alias' size='20' />
              <button type="button" class="btn btn-sm btn-primary" onClick="submit();">Login</button>
            </form>
            </div>
        </div>
    </div>
</div>
